{% extends "base.html" %}

{% block page_content %}

<h1 style="color: #0c0c0c">Project: {{project_name}}    Keyword: {{keyword}}</h1>
    <hr>


    fork_dic:
    {'fork_name1': {'filename1':{'@@ -46,6 +46,15 @@':[{46:'this is me',47:'-he is good',...},{'+this is me':48,...}],...},...} ,...}
    word_dic:
    {'fork_name1': {'filename1':{'@@ -46,6 +46,15 @@':[[46,1,0],[1,0]],'@@ -50,6 +50,15 @@':[[4,5,12],[2]],...},...} ,...}


    {% for fork_name,file_list in fork_dic.items() %}
        {% if fork_name in word_dic.keys() %}
            <div>
                <h2 style="background-color: #868e96">Fork: {{ fork_name }}</h2>
            {% for file_name,part_items in file_list.items()  %}
               {% if file_name in word_dic[fork_name].keys() %}
                    <div>
                        <h3>File: {{ file_name.replace('*','.') }}</h3>
                    {% for part_tag,lines in part_items.items() %}
                        {% if part_tag in word_dic[fork_name][file_name].keys() %}
                            <h4>{{ part_tag }}</h4>
            {#                {% minus,plus=lines %}#}
                            <div>
                                <div style="display: inline">
                                    {% for num,sentence in lines[0].items()  %}
                                        {% if num in word_dic[fork_name][file_name][part_tag][0] %}
                                            <div>
                                                <div style="background-color: #9f421d ; display:inline ;width: 100px; height:100px"  >{{ num }}</div>
                                                <div style="color: #cb301c ; display:inline; height:100px" >{{ sentence }}</div>
                                            </div>
                                        {% else %}
                                            <div>
                                                <div style="background-color: #959f9f ; display:inline ;width: 100px; height:100px"   >{{ num }}</div>
                                                <div style="display: inline; height:100px">{{ sentence }}</div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
            {#                    <div style="display: inline">#}
            {#                        {% for num,sentence in lines[1].items()  %}#}
            {##}
                {#                        <div>#}
                {#                            <div style="background-color: #9f421d ; display:inline ;width: 100px; height:100px"  >{{ num }}</div>#}
                {#                            <div style="color: #cb301c ; display:inline; height:100px" >{{ sentence }}</div>#}
                {#                        </div>#}
            {#                        <div>#}
            {#                            <div style="background-color: #959f9f ; display:inline ;width: 100px; height:100px"   >{{ num }}</div>#}
            {#                            <div style="display: inline; height:100px">{{ sentence }}</div>#}
            {#                        </div>#}
            {#                        {% endfor %}#}
            {#                    </div>#}
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}