{% extends "base.html" %}
{% block page_content %}
    <div class="repo-content">
        {% include "_fork_file_table.html" %}

    {#    fork_dic:#}
    {#    {'fork_name1': {'filename1':{'@@ -112,7 +167,7 @@':{'112/167':this is me','-1/170':'+he is good','117/-1':'+he is good',...},..},...}#}
    {#    word_dic:#}
    {#    {'fork_name1': {'filename1':{'@@ -46,6 +46,15 @@':['112/167', '-1/170'],'@@ -50,6 +50,15 @@':['117/-1'],...},...}#}

        {% for fork_name,file_list in fork_dic.items() %}
            {% if fork_name in word_dic.keys() %}
                <div id="{{ fork_name }}">
                    <div class="fork-name">
                        <div class="fork-name-h2"><h2>Fork: {{ fork_name }}</h2></div>
                    </div>
                    {% include "_fork_line.html" %}
                    {% for file_name,part_items in file_list.items()  %}
                       {% if file_name in word_dic[fork_name].keys() %}
                            <div id="{{ fork_name }}/{{ file_name.replace('*','.') }}">
                                <div>
                                    <div class="file-name-h3"><h3>File: {{ file_name.replace('*','.') }}</h3></div>
                                    <div class="go-back-to-top" align="right"><a class="go-back-to-top" href="#fork-file-list"><u>Go back to the top</u></a></div>
                                </div>
                                {% if display=='unified' %}
                                    {% include "_unified_table.html" %}
                                {% else %}
                                    {% include "_split_table.html" %}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}